<aside class="sidebar">
	<div class="logo">
		<img src="assets/keneya-logo.png" alt="Logo" />
	</div>

	<nav class="menu">
		@for (item of menuItems; track $index) {
		<a [routerLink]="item.route" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}"
			class="menu-item">
			<mat-icon>{{item.icon}}</mat-icon>
			<span>{{ item.label }}</span>
		</a>
		}
	</nav>

	<button class="deconnexion" type="button" (click)="deconnexion()">
		<mat-icon>logout</mat-icon>
		<span>Deconnexion</span>
	</button>
</aside>