<section class="reminders">
	<div class="header">
		<h2>Mes rappels</h2>
		<button class="new-reminder" (click)="onOpenForm()">+ Nouveau rappel</button>
	</div>

	<mat-tab-group>
		<mat-tab class="card-section" label="A venir">
			@for(rappel of rappelsAVenir(); track rappel.dateCreation) {


			<mat-card appearance="outlined" class="rappel-mini-card" [class.rappel-mini-card--done]="rappel.terminer">
				<mat-card-header>
					<div mat-card-avatar class="rappel-mini-card__avatar">
						<mat-icon>medication</mat-icon>
					</div>

					<mat-card-title>{{ rappel.nom_medicament }}</mat-card-title>

					<mat-card-subtitle>
						{{ rappel.frequence }} • {{ rappel.intervalle }}h
					</mat-card-subtitle>
				</mat-card-header>

				<mat-card-content>
					<div class="rappel-dates">
						<p><strong>Début :</strong> {{ rappel.dateDebut | date:'dd/MM/yyyy ' }}</p>
						<p><strong>Fin :</strong> {{ rappel.dateFin | date:'dd/MM/yyyy ' }}</p>
					</div>
					<p><strong>État :</strong> {{ rappel.terminer ? 'Terminé' : 'En cours' }}</p>
				</mat-card-content>


			</mat-card>
			}
		</mat-tab>
		<mat-tab class="card-section" label="Terminer">
			<div class="card-section">
				@for(rappel of rappelTerminer(); track rappel.dateCreation) {


				<mat-card appearance="outlined" class="rappel-mini-card"
					[class.rappel-mini-card--done]="rappel.terminer">
					<mat-card-header>
						<div mat-card-avatar class="rappel-mini-card__avatar">
							<mat-icon>medication</mat-icon>
						</div>

						<mat-card-title>{{ rappel.nom_medicament }}</mat-card-title>

						<mat-card-subtitle>
							{{ rappel.frequence }} • {{ rappel.intervalle }}h
						</mat-card-subtitle>
					</mat-card-header>

					<mat-card-content>
						<div class="rappel-dates">
							<p><strong>Début :</strong> {{ rappel.dateDebut | date:'dd/MM/yyyy ' }}</p>
							<p><strong>Fin :</strong> {{ rappel.dateFin | date:'dd/MM/yyyy ' }}</p>
						</div>
						<p><strong>État :</strong> {{ rappel.terminer ? 'Terminé' : 'En cours' }}</p>
					</mat-card-content>


				</mat-card>
				}
			</div>
		</mat-tab>
	</mat-tab-group>


</section>
@if (notifications().length > 0) {
<div class="notifications-overlay">
	<div class="notifications">
		@for (n of notifications(); track n.id) {
		<div class="notification">
			<div class="notification-content">
				<div class="notification-icon">⏰</div>

				<div class="notification-text">
					<p class="notification-title">Rappel médicament</p>
					<p class="notification-message">
						C'est l'heure de prendre : <strong>{{ n.rappel.nom_medicament }}</strong>
					</p>
				</div>
			</div>

			<button class="notification-close" (click)="fermerNotification(n.id)">✕</button>
		</div>
		}
	</div>
</div>
}

@if (showForm ){
<app-forms-rappel (onCloseForm)="onCloseForm($event)" (onSubmitForm)="onSubmitRappel($event)"></app-forms-rappel>
}