<main>
    <mat-card class="header">
        <mat-card-header>
            <mat-card-title class="titre"> Bienvenue Amadou Oumar N'diaye</mat-card-title>
            <mat-card-subtitle>Administrateur</mat-card-subtitle>
            <span class="spacer"></span>
            <mat-icon class="icon-account">account_circle</mat-icon>
        </mat-card-header>
    </mat-card>
    <br>
    <div class="cards">
        <mat-card class="card">
            <mat-card-content>
                <mat-icon class="icon">groups</mat-icon>
                <h2>20</h2>
                <h2>Agents</h2>
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>
                    <h2>20</h2>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-icon class="icon">groups</mat-icon>
                <h2>Citoyens</h2>
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>
                    <h2>20</h2>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-icon class="icon">category</mat-icon>
                <h2>Conseils</h2>
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>
                    <h2>20</h2>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-icon class="icon">persons</mat-icon>
                <h2>Publications</h2>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="blaid">
        <div>
            <h2>Dernier agents inscrits</h2>
            <mat-list>
                <mat-list-item>
                    <span matListItemTitle>Malado Oumar N'diaye</span>
                    <span style="font-weight: bold;" matListItemLine>Specialite</span>
                    <span matListItemLine>Ajoute le 14/11/2000</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>Malado Oumar N'diaye</span>
                    <span style="font-weight: bold;" matListItemLine>Specialite</span>
                    <span matListItemLine>Ajoute le 14/11/2000</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>Malado Oumar N'diaye</span>
                    <span style="font-weight: bold;" matListItemLine>Specialite</span>
                    <span matListItemLine>Ajoute le 14/11/2000</span>
                </mat-list-item>
            </mat-list>
        </div>
        <div>
            <h2>Ajouts rapides</h2>
            <div class="booby">
                <button mat-raised-button>Ajouter agent</button>
                <button mat-raised-button>Ajouter categorie conseil</button>
                <button mat-raised-button>Ajouter categorie activite</button>
                <button mat-raised-button>Voir conseil</button>
            </div>

        </div>
    </div>
</main>