form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

mat-dialog-content {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

button {
    width: 400px;
    height: 40px;
    border-radius: 20px;
    border-style: none;
    font-size: 20px;
    color: #fff;
    background-color: #43A37A;
    cursor: pointer;
}

button :active {
    cursor: progress;
}

@media (max-width: 575px) {
    form {
        display: none;
    }
}