<form [formGroup]="form" (ngSubmit)="ajouter()">
    <div class="header">
        <h2 mat-dialog-title>Creation d'une categorie d'activite</h2>
        <button mat-icon-button (click)="close()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-dialog-content>
        <mat-form-field appearance="outline">
            <mat-label>Nom</mat-label>
            <input matInput type="text" placeholder="Entrez le nom de la categorie" formControlName="libelle">
            <mat-hint>Minimum 3 caracteres</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput type="text" placeholder="Entrez la description de la categorie" formControlName="description">
            <mat-hint>Minimum 3 caracteres</mat-hint>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <mat-action-list>
            <button mat-stroked-button type="reset" (click)="close()">
                retour
            </button>
            <button mat-raised-button type="submit">
                <mat-icon>save</mat-icon>
                ajouter
            </button>
        </mat-action-list>
    </mat-dialog-actions>

</form>