/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD
@import "@angular/material/prebuilt-themes/indigo-pink.css";
=======

body{
padding: 0;
margin: 0;
box-sizing: border-box;
width: 100%;
height: 100%;
}
>>>>>>> 63d71e5d0ee7eca998b4bbe1ca498dc70acbefb8
